body, html{
	color: #333;
	font-family: "Arial";
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
.cabecera{
	background: #33A;
	color: white;
	padding: 0.7rem;
	font-weight: bold;
	box-shadow: 0px 0px 0.5rem #33A;
}

.subtogle{
	padding: 0 0 0 0.5rem;
	font-weight: normal;
	font-size: 0.7rem;
}
/*Header (cabecera)*/

.container{
	border: 1px solid gray;
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

.post{
	padding: 0.5rem;
}

.container h1{
	font-size: 1rem;
}

