body, html{	font-family: "Arial";
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.84);
	height: 100vh;
}
.cabecera{
	background: #33A;
	color: white;
	padding: 0.7rem;
	font-weight: bold;
	box-shadow: 0px 0px 0.5rem #33A;
	line-height: 50px;
}

.subtogle{
	padding: 0 0 0 0.5rem;
	font-weight: normal;
	font-size: 0.7rem;
}
/*Header (cabecera)*/

.cabecera .logo{
	height: 35px;
	vertical-align: middle;
}

.container{
	border: 1px solid gray;
	width: 70%;
	margin: 0 auto;
	text-align: left;
	background: white;
}

.post{
	padding: 0.5rem;
}

.container h1{
	font-size: 1rem;
}

.footer{
	background: #525252;
	text-align: center;
	padding: .8rem;
}

.footer h1{
	margin: 0;
}
